
<h2 style="text-align: center;">Editer une recette</h2>
<br>

<form [formGroup]="recipeForm" #form="ngForm" (ngSubmit)="update()">
    <div class="row">
        <div class="form-group col-sm-12 col-md-4">
            <input type="text" formControlName="name" #name [class.is-invalid]="recipeForm.controls.name.invalid && (recipeForm.controls.name.dirty || form.submitted )" class="form-control" placeholder="Name" >
            <div class="invalid-feedback">
                Please provide a name.
            </div>
        </div>

        <div class="form-group col-sm-12 col-md-4">
            <input type="url" formControlName="description" class="form-control" placeholder="Description" [class.is-invalid]="recipeForm.controls.description.invalid && (recipeForm.controls.description.dirty || form.submitted )">
            <div class="invalid-feedback">
                Please provide a description.
            </div>
        </div>

       
        <div class="form-group col-sm-12 col-md-4">
           
            <select formControlName="category"  class="form-control"  [class.is-invalid]="recipeForm.controls.category.invalid && (recipeForm.controls.category.dirty || form.submitted )">
                <option value="" hidden selected disabled>Categorie</option>
                <option value="1">Starter</option>
                <option value="2">Main</option>
                <option value="3">Dessert</option>

            </select>
            <div class="invalid-feedback">
                Please choose a category
            </div>
        </div>

        <div class="col-sm-12 col-md-auto text-right">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</form>
