<div class="container">
    <div class="row">
        <div class="col">
            <app-recipe-create (recipeCreate)="recipeCreated($event)">
            </app-recipe-create>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p [ngStyle]="{ fontWeight: 'bold', fontStyle: 'italic', marginTop: '16px' }">{{recipes.length}} recipes</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="recipes.length == 0; else recipesList">
                <p>No recipes to show...</p>
            </div>
            <ng-template #recipesList>
                <table class="table table-hover">
                    <tbody>
                        <tr *ngFor="let recipe of recipes" app-recipe-row (recipeDelete)="recipeDeleted($event)"  [recipe]="recipe">
                           
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>
    </div>
</div>
