<div class="container text-center">
    <div class="row">
        <div class="col">
           <h2>{{'HOME.WELCOME' | translate}}</h2>
        </div>
    </div>

   <div class="row mt-2">
       <div class="col-10 offset-1">
           <form #loginForm="ngForm" (ngSubmit)="login(emailInput.value, passwordInput.value)">
               <div class="form-group">
               <input name="email" #emailInput ngModel email type="email" required placeholder="{{'HOME.EMAIL' | translate}}" class="form-control" >
               </div>

               <div class="form-group">
               <input name="password" #passwordInput ngModel  type="password" required placeholder="{{'HOME.PASSWORD' | translate}}" class="form-control" >
               </div>

               <button [disabled]="loginForm.valid == false" class="btn btn-lg btn-primary btn-block" type="submit">{{'HOME.SIGN' | translate}}</button>
           </form>
       </div>
   </div>
</div>  